--- drivers/net/wireless/ath/wil6210/Kconfig
+++ drivers/net/wireless/ath/wil6210/Kconfig
@@ -1,7 +1,6 @@
 config WIL6210
 	tristate "Wilocity 60g WiFi card wil6210 support"
 	select WANT_DEV_COREDUMP
-	select CRC32
 	depends on CFG80211
 	depends on PCI
 	default n
